.body {
    margin-left: 340px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.header {
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.logo {
    margin: 25px;
}

.navigate {
    flex-direction: column;
    direction: ltr;
    margin: 0;
    gap: 0;
}

.navigate-option {
    font-size: large;
    padding: 15px;
    float: left;
}

.navigate-option:hover {
    background-color: #0063c7;
}