* {
    margin: 0;
}

.root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */

.header {
    position: fixed;
    width: 100%;
    background-color: #0080ff;
    color: white;
    padding: 15px;
    display: flex;
}

.logo {
    flex: 1;
}

.navigate {
    display: flex;
    direction: rtl;
    margin-right: 25px;
    flex: 2;
    gap: 15px;
}

.navigate-option {
    color: white;
    text-decoration: none;
    transition-duration: 150ms;
}

.navigate-option:hover {
    color: #ffc9c9;
}

/* Main content */

.body {
    padding-top: 48px;
    min-height: 100vh;
    margin: 25px;
    align-items: center;
    justify-items: center;
}
/* Inputs */

input[type="submit"],
.pseudo-button,
button {
    background-color: #0080ff;
    color: white;
    outline: none;
    border: none;
    text-decoration: none;
    padding: 10px;
    border-radius: 150px;
    cursor: pointer;
    transition-duration: 150ms;
}

input[type="submit"]:hover,
.pseudo-button:hover,
button:hover {
    background-color: #026eda;
}

input {
    padding: 10px;
    outline: none;
    border-radius: 150px;
    border: none;
    background-color: #bcddff;
}

select {
    border: none;
    box-shadow: inset;
    padding: 10px;
    border-radius: 5px;
    outline: none;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Footer */

.footer {
    background-color: #272727;
    color: white;
    padding: 25px 5px;
}

/* Messages */

.flash-messages {
    width: 98%;
    justify-content: center;
    transition-duration: 150ms;
    position: absolute;
    display: flex;
    margin: 15px;
}

.flash-message {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: fit-content;
    padding: 15px;
    border-radius: 5px;
    z-index: 10px;
}

.info {
    background-color: #53b853;
}

.danger {
    background-color: #fd4c4c;
    color: white;
}