.mljar-packages-manager-sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}

.mljar-packages-manager-search-bar-container {
  margin: 0px 10px 10px 0px;
}
.mljar-packages-manager-install-input,
.mljar-packages-manager-search-bar-input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  background-color: var(--jp-layout-color1);
  color: var(--jp-ui-font-color1);
  border: 1px solid var(--jp-border-color2);
  border-radius: 5px;
}

.mljar-packages-manager-install-input {
  margin-bottom: 8px;
}

.mljar-packages-manager-install-input:focus,
.mljar-packages-manager-search-bar-input:focus {
  outline: none;
  border: 2px solid var(--jp-ui-font-color1);
}
.mljar-packages-manager-install-input::placeholder,
.mljar-packages-manager-search-bar-input::placeholder {
  color: var(--jp-ui-font-color2);
}

.mljar-packages-manager-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mljar-packages-manager-header-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 8px;
  margin-right: 8px;
  border-bottom: 2px solid #ddd;
}

.mljar-packages-manager-header {
  flex: 4;
  font-size: 0.85rem;
  font-weight: 700;
  color: var(--jp-ui-font-color1);
  text-align: left;
  padding-bottom: 8px;
  margin: 0;
}

.mljar-packages-manager-list-container {
  flex: 1;
  overflow-y: hidden;
  padding-right: 10px;
}

.mljar-packages-manager-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mljar-packages-manager-list-container::-webkit-scrollbar {
  width: 8px;
}

.mljar-packages-manager-list-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.mljar-packages-manager-list-container::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.05);
}

.mljar-packages-manager-sidebar-widget {
  background-color: #ffffff;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
}

.mljar-packages-manager-back-button,
.mljar-packages-manager-install-button,
.mljar-packages-manager-refresh-button {
  width: 30px;
  display: flex;
  margin: 1px 0px 2px 0px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #0099cc;
  border: none;
  border-radius: 4px;
  padding: 8px 0px;
  cursor: pointer;
  font-size: 0.75rem;
  transition: background-color 0.3s ease;
}

.mljar-packages-manager-back-button {
  width: 70px !important;
  text-align: center;
  padding-right: 4px;
}

.mljar-packages-manager-back-button:hover:not(:disabled),
.mljar-packages-manager-refresh-button:hover:not(:disabled),
.mljar-packages-manager-install-button:hover:not(:disabled) {
  background-color: #0099cc;
  color: #ffffff;
}

.mljar-packages-manager-delete-button {
  visibility: hidden;
  background: none;
  position: relative;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 4px;
  margin: 5px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #dc3545;
  transition: background-color 0.3s ease;
}

.mljar-packages-manager-refresh-button:disabled,
.mljar-packages-manager-install-button:disabled,
.mljar-packages-manager-back-button:disabled {
  cursor: not-allowed;
}

.mljar-packages-manager-install-submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 0.75rem;
  transition: background-color 0.3s ease;
}

.mljar-packages-manager-install-submit-button:disabled {
  background-color: #94d3a2;
  cursor: not-allowed;
}

.mljar-packages-manager-install-submit-button:hover:not(:disabled) {
  background-color: #1e7e34;
}

.mljar-packages-manager-delete-button:hover {
  color: #fff;
  background-color: #dc3545;
  transition: background-color 0.3s ease;
}

.mljar-packages-manager-list-item:hover .mljar-packages-manager-delete-button {
  visibility: visible;
}

.mljar-packages-manager-refresh-icon,
.mljar-packages-manager-install-icon,
.mljar-packages-manager-back-icon {
  display: flex;
  align-items: center;
  width: 15px;
  height: 15px;
}

.mljar-packages-manager-delete-icon {
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
}

.mljar-packages-manager-error-icon {
  color: #dc3545;
  width: 15px;
  height: 15px;
}

.mljar-packages-manager-info-icon-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.mljar-packages-manager-info-icon-container span:first-child {
  display: inline-flex;
  align-items: center;
  color: #0099cc;
  margin: 0px;
  width: 18px;
  height: 18px;
}

.mljar-packages-manager-info-icon-container {
  visibility: hidden;
  width: 150px;
  background-color: #28a745;
  color: white;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
  position: absolute;
  left: -160px;
  top: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
  white-space: pre-line;
}

.mljar-packages-manager-info-icon-container:hover {
  visibility: visible;
  opacity: 1;
}

.mljar-packages-manager-install-form {
  display: flex;
  flex-direction: column;
  margin-right: 8px;
}

.mljar-packages-manager-install-form h4 {
  margin-top: 0px;
  margin-bottom: 4px;
  padding: 0;
}

.mljar-packages-manager-usage-span {
  margin-bottom: 8px;
  text-align: left;
  font-size: 0.8rem;
  padding: 5px 2px;
}

.mljar-packages-manager-install-message {
  color: #28a745;
  font-weight: bold;
  margin-top: 10px;
  text-align: left;
  padding: 5px 2px;
}

.mljar-packages-manager-install-message.error {
  color: #dc3545;
}

.mljar-packages-manager-error-message {
  color: #dc3545;
  font-weight: bold;
}

.mljar-packages-manager-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
}

.mljar-packages-manager-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border-left-color: #ffffff;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.mljar-packages-manager-list-item {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 2rem;
  align-items: center;
  min-height: 38px;
  column-gap: 1rem;
  padding-left: 8px;
  padding-right: 8px;
  border-bottom: 1px solid var(--jp-border-color2);
  border-left: 1px solid var(--jp-border-color2);
  border-right: 1px solid var(--jp-border-color2);
  margin-bottom: 0px;
  margin-right: 0px;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--jp-layout-color0);
  font-size: 0.7rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mljar-packages-manager-list-item:hover {
  background-color: var(--jp-layout-color2);
  cursor: pointer;
}

.mljar-packages-manager-list-item.active {
  background-color: var(--jp-brand-color1);
  color: var(--jp-ui-inverse-font-color1);
}

.mljar-packages-manager-package-name,
.mljar-packages-manager-package-version {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mljar-packages-manager-package-name {
  font-weight: 600;
}

.mljar-packages-manager-list-header {
  display: grid;
  grid-template-columns: 1fr 1fr 2rem;
  align-items: center;
  font-size: 0.85rem;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--jp-layout-color0);
  color: #0099cc;
  border: 1px solid #0099cc;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  font-weight: 800;
}

.mljar-packages-manager-sidebar-container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.mljar-packages-manager-sidebar-container::-webkit-scrollbar-track {
  background: #d3d3d3;
  border-radius: 8px;
}

.mljar-packages-manager-sidebar-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: padding-box;
}
