body {
    font-family: "Public Sans";
    color: #001D3D
}


/* ------------------------------- MAIN TITLE ------------------------------- */

h2 {
    font-family: "Fjalla One";
    color: #001D3D;
    text-align: center;
    font-style: bold;
    margin-top: 10;
    margin-bottom: 1;
}

#subtitle {
    text-align: center;
    margin-bottom: 0;
    margin-top: -5;
    line-height: 1.2;
    font-style: italic;
    color: #002E5B
}

#repo-name {
    font-size: 7vh
}

/* --------------------------------- ON SVG --------------------------------- */

/* ciruclar text */
textPath {
    -webkit-text-stroke: 5em white;
    text-shadow:
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff;
}

/* tooltip */
#tooltip {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

#tooltip-title {
    font-size: medium;
}

#tooltip-text {
    font-size: small;
}

#card {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(0%, -50%);
}

/* card */
#card-header {
    font-size: large;
    font-style: bold;
    letter-spacing: 2px;
}

#card-body {
    text-overflow: ellipsis;
    overflow: hidden;
}

/* ------------------------------- SEARCH BAR ------------------------------- */

.search-bar {
    max-width: 200px;
    margin: auto auto;
    /* font-family: "Playfair Display"; */
}

/* icone */
.btn.btn-light {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: small
}

/* result display */
#searchInput {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: small;
}

#multiresult {
    position: fixed;
}


/* --------------------------------- ON MENU -------------------------------- */

#menu {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 25;
    border-radius: 5px;
}

#graph {
    margin-right: -25;
}

/* title */
h3 {
    color: #001D3D;
    font-family: "Fjalla One";
    letter-spacing: 0.8px;
    font-optical-sizing: auto;
    font-style: bold;
}

/* scale */
.form-select.form-select-sm {
    max-width: 150;
    margin-right: auto;
    display: block;
    margin-bottom: 16;
}

.input-group .input-group-text {
    border-radius: 5px;
    border-left: 0;
}

#log10label {
    font-size: small;
    color: #003566;
    margin-top: 3px;
}

/* worst */
#reverse {
    margin-left: 6;
    --bs-btn-hover-bg: #001D3D;
    --bs-btn-color: #001D3D;
    --bs-btn-hover-border-color: #001D3D;
    --bs-btn-border-color: #001D3D;
}

a {
    color: #003566;
    display: block;
    text-align: left;
    font-style: italic;
    font-size: small;
    text-decoration: none;
}

#main {
    display: block;
    width: 100%;
    height: 100%
}