[tool.black]
line_length = 100

[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
include = ["progbarr"]

[project]
name = "progbarr"
version = "0.1.0"
authors = [{name = "Haripo Wesley T.", email = "haripowesleyt@proton.me"}]
maintainers = [{name = "Haripo Wesley T.", email = "haripowesleyt@proton.me"}]
description = "Progbars is a Python library for creating progress bars in the console."
readme = "README.md"
license = {file = "LICENSE"}
requires-python = ">= 3.7"
keywords = ["progress", "progress bar"]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[project.urls]
Homepage = "https://github.com/haripowesleyt/progbars"
Issues = "https://github.com/haripowesleyt/progbars/issues"
Repository = "https://github.com/haripowesleyt/progbars"

