/* Feature List Container */
.feature-list-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    max-width: 1142px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

@media (min-width: 1024px) {
    .feature-list-container {
        grid-template-columns: 3fr 4fr;
    }
}

/* Featured Item (left side) */
.feature-list-featured {
    display: flex;
    flex-direction: column;
}

.feature-item--large {
    height: 100%;
}

.feature-item--large .feature-item__image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
}

.feature-item--large .feature-item__title {
    font-size: 1.75rem;
    color: #2D6A6E; /* Verde azulado como na imagem */
    margin-bottom: 1rem;
    line-height: 109%;
}

/* List Items (right side) */
.feature-list-items {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: stretch;
}

.feature-list-items > * {
    flex-grow: 1; /* Faz com que os itens cresçam verticalmente */
  }

/* Feature Item (general) */
.feature-item {
    display: flex;
    flex-direction: column;
}

.feature-item__media {
    margin-bottom: 1rem;
}

.feature-item__image {
    width: 100%;
    object-fit: cover;
    border-radius: 0.25rem;
}

.feature-item__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.feature-item__title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #2D6A6E; /* Verde azulado como na imagem */
    margin-bottom: 0.75rem;
}

.feature-item__description {
    font-size: 1rem;
    line-height: 1.6;
    color: #58606E;
}

.feature-item__link:hover {
    text-decoration: underline;
    color: #2D6A6E; /* Verde azulado como na imagem */
}

/* List item specific */
.feature-list-items .feature-item {
    flex-direction: row;
    gap: 10px;
}

.feature-list-items .feature-item__media {
    flex: 0 0 auto;
    width: 150px;
    margin-bottom: 0;
}

.feature-list-items .feature-item__image {
    height: 100%;
    border-radius: 20px;
}

.feature-list-items .feature-item__title {
    color: #00777D;
    margin: 0;
    line-height: 120%;
    margin-bottom: 5px;
}

.feature-list-items .feature-item__divider {
    height: 1px;
    background-color: #E5E7EB;
    width: 100%;
    margin-top: 1.25rem;
}

.feature-list-items .feature-item:last-child .feature-item__divider {
    display: none;
}